.sign-overlay{
    width:100vw;
    height:100vh;
    top:-50%;
    left:-50%;
    position:fixed;
    background:rgba(49,49,49,0.7);
    z-index: 8;

}

.modal-content{
  position:absolute;
  top:48%;
  left:50%;
  transform:translate(-50%,-50%);
  line-height:1.4;
  background:#f1f1f1;
  padding: 14px 28px;
  border-radius:3px;
  width:50vw;
}

.modal-content h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: underline;
  color:orangered
}

.close-modal{
  position:relative;
  width: 4%;
 
}

.close-modal:hover{
  cursor:pointer;
}

.signform{
  width:80%;
 border: 1px solid;
 margin-left:60px ;
 justify-content: center;
}


